<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{name}} {{kind}} Reference</title>
    <link rel="stylesheet" type="text/css" href="{{path_to_root}}css/jazzy.css" />
    <link rel="stylesheet" type="text/css" href="{{path_to_root}}css/highlight.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://static-assets.mapbox.com/branding/favicon/v1/apple-touch-icon.png?v=gAd4JjrGWl" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://static-assets.mapbox.com/branding/favicon/v1/favicon-32x32.png?v=gAd4JjrGWl" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://static-assets.mapbox.com/branding/favicon/v1/favicon-16x16.png?v=gAd4JjrGWl" />
    <link rel="manifest" href="https://static-assets.mapbox.com/branding/favicon/v1/site.webmanifest?v=gAd4JjrGWl" />
    <link rel="mask-icon" href="https://static-assets.mapbox.com/branding/favicon/v1/safari-pinned-tab.svg?v=gAd4JjrGWl" color="#4264fb" />
    <link rel="shortcut icon" href="https://static-assets.mapbox.com/branding/favicon/v1/favicon.ico?v=gAd4JjrGWl"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
    name="msapplication-config"
    content="https://static-assets.mapbox.com/branding/favicon/v1/browserconfig.xml?v=gAd4JjrGWl"
    />
    <meta name="theme-color" content="#ffffff" />
    <script src="{{path_to_root}}js/jquery.min.js" defer></script>
    <script src="{{path_to_root}}js/jazzy.js" defer></script>
    {{{custom_head}}}
    {{^disable_search}}
    <script src="{{path_to_root}}js/lunr.min.js" defer></script>
    <script src="{{path_to_root}}js/typeahead.jquery.js" defer></script>
    <script src="{{path_to_root}}js/jazzy.search.js" defer></script>
    <meta class="swiftype" name="title" data-type="string" content="{{name}}" />
    <meta class="swiftype" name="excerpt" data-type="string" content="{{overview}}" />
    <meta class="swiftype" name="site" data-type="string" content="iOS" />
    <meta class="swiftype" name="subsite" data-type="string" content="{{kind}}" />
    <meta class="swiftype" name="contentType" data-type="string" content="reference" />
    {{/disable_search}}
    <style type="text/css">
      .nav-group-name[data-name="{{name}}"] > .small-heading,
      .nav-group-task[data-name="{{name}}"] {
        background-color: #f5f8fc;
        font-family: "Open Sans Bold";
        border-left: 3px solid #3a68d8;
        padding-left: 5px
      }
    </style>
  </head>
  <body>

    {{#dash_type}}
    <a name="//apple_ref/{{language_stub}}/{{dash_type}}/{{name}}" class="dashAnchor"></a>
    {{/dash_type}}

    <a title="{{name}} {{kind}} Reference"></a>

    {{> header}}

    <div class="breadcrumbs" data-swiftype-index="false">
      <div class="limiter">
        <a class="breadcrumb" href="{{path_to_root}}index.html">{{module_name}} Reference</a>
        <img class="carat" src="{{path_to_root}}img/carat.png" />
        {{name}} {{kind}} Reference
      </div>
    </div>

    <div class="content-wrapper limiter">
      {{> nav}}
      <article class="main-content">

        <section class="section">
          <div class="section-content">
            {{^hide_name}}<a href="#/{{name}}"><h1 id="{{name}}">{{name}}<span class="anchor-icon" /></h1></a>{{/hide_name}}
            {{> deprecation}}
            {{#declaration}}
              <div class="declaration">
                <div class="language">
                  {{{declaration}}}
                </div>
              </div>
            {{/declaration}}
            {{{overview}}}
          </div>
        </section>

        {{> tasks}}

      </article>
    </div>
    {{> footer}}
  </body>
</div>
</html>
